.td1{
    width: 60px;
    height: 30px;
}
.td12{
    width: 60px;
    height: 30px;
}
.td2{
    width: 60px;
    height: 30px;
}
.td21{
    width: 60px;
    height: 30px;
}
.td22{
    width: 130px;
    height: 30px;
}
